<%= render "shared/second-header"%>

<div class="sign-contents">
  <div class="sign-content">
    <h2 class="sign-in-title">しんきとうろく</h2>
    <div class="main-sign-in">
      <form class="sign-in-form">
        <h2 class="sign-in-titles">■にっくねーむ</h2>
        <input type="text" placeholder="れい）たろう" class="sign_in_name_form">
        <div class="sign-in-email">
          <h2 class="sign-in-titles">■めーるあどれす</h2>
          <input type="text" placeholder="れい）logs@log.com" class="email_form">
          <p class="signin-comment">※おとうさん、おかあさん、ほごしゃの いーめーる でもよい</p>
        </div>
        <div class="sign-in-password">
          <h2 class="sign-in-titles">■ぱすわーど</h2>
          <input type="text" placeholder="れい）1a1a1a" class="password_form">
          <p class="signin-comment">※すうじとえいじ、6もじ いじょうで せってい</p>
        </div>
        <div class="sign-in-password-confirmation">
          <h2 class="sign-in-titles">■ぱすわーど（かくにん）</h2>
          <input type="text" placeholder="おなじ ぱすわーど" class="password_confirmation_form">
        </div>
        <div class="sign-in-send">
          <input type="submit" value="とうろく" class="sign-send">
          <p class="sign-back-btn">もどる</p>
        </div>
      </form>
    </div>
  </div>
</div> 

<%= render "shared/second-footer"%>